/* General styles */
*{
	font-size: 1rem 0;
	--text-color:white;
	--cmu-color:rgb(176, 28, 51)
}

body {
	font-family: Arial, sans-serif;
    
    background-color: #333333;
	margin: 0;
	padding: 0;
}

header {
	background-color:var(--cmu-color);
	color: var(--text-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
}

nav {
	margin-top: 1rem;
}

nav ul {
	display: flex;
	justify-content: center;
	list-style: none;
}

nav li {
	margin: 0 1rem;
}


main {
	max-width: 800px;
	margin: 1.5rem auto;
	padding: 0 1rem;
}

section {
    color: var(--text-color);
	/* margin: 1.5rem 0; */
}

h2 {
	font-size: 1.5rem;
	color: rgb(255, 47, 0);
}

h3{
	font-size: 1.1rem;
	margin: 0 0;
}

h4{
	font-size: 0.9rem;
	margin: 0.3rem 0rem;
}

ul {
	margin: 0;
	padding-left: 20px;
}

li {
	line-height: 1.7rem;
}

a {
	color: var(--text-color);
	text-decoration: none;
}

.date {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.786);
}

/* Form styles */
form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

label {
	display: block;
	margin-bottom: 0.5rem;
}

input,
textarea {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0.5rem;
}

input[type="submit"] {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 0.5rem 1rem;
	margin-top: 1rem;
	cursor: pointer;
}

/* Add responsive styles for smaller screens like phones */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px; /* Example: reduce font size for smaller screens */
    }
    
    header {
        padding: 0.5rem; /* Example: reduce header padding */
    }
    
    /* Add any other responsive styles you need for smaller screens */
}

/* Add responsive styles for tablets and larger screens like iPads */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    body {
        font-size: 16px; /* Example: adjust font size for tablets */
    }
    
    /* Add any other responsive styles you need for tablets */
}

/* Add responsive styles for even larger screens (if needed) */
@media screen and (min-width: 1025px) {
    body {
        font-size: 18px; /* Example: adjust font size for larger screens */
    }
    
    /* Add any other responsive styles you need for larger screens */
}


input[type="submit"]:hover {
	background-color: #666;
}

