/* General styles */
html {
	scroll-behavior: smooth;
	scroll-padding-top: 8.5rem;
}

header {
	height: 8rem; /* set the height of the header to 100 pixels */
}  

*{
	font-size: 1rem 0;
	--text-color:#000!important;
	--cmu-color:rgb(176, 28, 51)!important;
}

body {
	font-family: Arial, sans-serif;
}

main {
	max-width: 800px;
	margin: 1.5rem auto;
	padding: 0 1rem;
}

.h2 {
	font-size: 1.5rem;
	color: var(--cmu-color);
	font-weight:bold;
}

.h3{
	font-size: 1.1rem;
	font-weight:bold;
}

.h4{
	font-size: 0.9rem;
	font-weight:bold;
	line-height: 75%;
	/* margin: 0.3rem 0rem; */
}

i {
	font-size:0.9rem;
	line-height: 1.7rem;
}




/* ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 25px;
    unicode-bidi: isolate;
} */


/* form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

label {
	display: block;
	margin-bottom: 0.5rem;
} */

/* input,
textarea {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0.5rem;
}

input[type="submit"] {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 0.5rem 1rem;
	margin-top: 1rem;
	cursor: pointer;
}
 */
