/* General styles */
html {
	scroll-behavior: smooth;
	scroll-padding-top: 8.5rem;
  }
  
*{
	font-size: 1rem 0;
	--text-color:#000!important;
	--cmu-color:rgb(176, 28, 51)!important;
}
.main{
	margin-top: 7em;
}

body {
	font-family: Arial, sans-serif;
}


button{
	font-weight: bold;
	background-color: var(--cmu-color);
	color: white;
	padding: 10px;
	margin-top:5px;
	border: none;
	display: flex;
	cursor: pointer;
}


main {
	max-width: 800px;
	margin: 1.5rem auto;
	padding: 0 1rem;
}

section {
    color: var(--text-color);
}

.h2 {
	font-size: 1.5rem;
	color: var(--cmu-color);
	font-weight:bold;
}

.h3{
	font-size: 1.1rem;
}

i {
	font-size:0.9rem;
	line-height: 1.7rem;
}


h4{
	font-size: 1rem;
	margin: 0.3rem 0rem;
}



/* form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

label {
	display: block;
	margin-bottom: 0.5rem;
} */

/* input,
textarea {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0.5rem;
}

input[type="submit"] {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 0.5rem 1rem;
	margin-top: 1rem;
	cursor: pointer;
}
 */
