/* Header (nav-bar) */
.header__navbar-top{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:white;
}
.header__navbar {
    list-style: none;
    display: flex;
    width: 95%;
    font-family: Helvetica, sans-serif;
}

.header__navbar-item {
    text-decoration: none;
    color: white;
    width: 100%;
    padding: 10px 15px; /* Adjust padding as needed */
}

.header__navbar-item{
    font-size: 1.1em;
}
.header__navbar-item:hover{
    cursor:pointer;
    color:rgba(255,255,255,0.5);
}

.body__heading-text{
    list-style: none;
}

/* Home */
.about-me{
    display: flex;
}

.home-img{
    max-height:250px;
    /* border-radius: 10px; */
}

#summary{
    margin:0 0;
    font-size:calc(+1rem);
    justify-content: center;
    line-height: 1.5rem;
}
/* Education */

/* #education,#work{
    padding-top: 1rem;
} */

.section-list{
    font-size: 0.9rem;
    padding:6px 0rem 1rem 1rem;
}

.gallery{
    max-height:1000px;
    max-width: 55em;
    border-radius: 0;
    margin-bottom:20px;
    display: block;
}

/* This will apply the style to all the date */
.date {
    font-size: 0.9rem;
    font-style: italic;
    color: #000;;
}


/* Work */

.working{
    display: flex;
    justify-content: space-between;
}

.work{
    display: inline-flex;
}

/* Certificate */
.certificate {
    padding-bottom: 1rem;
}

.title{
    font-size: 0.9rem;
    font-weight: normal;
}
.certi{
    padding-bottom: 0.2rem;
    /* color:rgb(93, 134, 255); */
    color:var(--cmu-color);
}





