@media (max-width: 768px) {
    .content {
        flex-direction: column; /* Stack elements vertically on smaller screens */
    }

    .image {
        order: -1; /* Move the image above the text on smaller screens */
    }

    .gallery {
        max-width: 100%; /* Set the image width to match the width of the phone */
    }
    .section-list{
        padding:0xp;
    }
}
