@media (max-width: 768px) {
    .content {
        flex-direction: column; /* Stack elements vertically on smaller screens */
    }
    .about-me {
        flex-direction: column;
        flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
    }
    .body__heading-text{
        padding: 0px;
    }
    .image {
        order: -1; /* Move the image above the text on smaller screens */
    }
    .home-img{
        max-width: 100%;
        height: 100%;
        max-height:none;
    }

    .gallery {
        max-width: 100%; /* Set the image width to match the width of the phone */
    }
    .section-list{
        list-style: none;
        padding:0px;
    }
    .header__navbar{
        display: none !important; /* hide the header on smaller screens */
    }
}
