@media (max-width: 1284px) {
    .content {
        flex-direction: column; /* Stack elements vertically on smaller screens */
    }

    .image {
        order: -1; /* Move the image above the text on smaller screens */
    }
    .home-img{
        width: 100%;
        height: auto;
        max-height:none;
    }

    .gallery {
        max-width: 100%; /* Set the image width to match the width of the phone */
    }
    .section-list{
        list-style: none;
        padding:0px;
    }
    .header__navbar{
        display: none !important; /* hide the header on smaller screens */
    }
}
